@font-face {
    font-family: 'DegularDemo';
    src: url(../fonts/fonnts.com-DegularDemo-Regular.otf);    
}

@font-face {
    font-family: 'DegularDemo BoldItalic';
    src: url(../fonts/fonnts.com-DegularDemo-BoldItalic.otf);
}

@font-face {
    font-family: 'DegularDemo Bold';
    src: url(../fonts/fonnts.com-DegularDemo-Bold.otf);
}

body {
    font-family: 'DegularDemo';
    background: #1B1B1B;
    color: #ffffff;
}



.menu {
    display: flex;
    margin-top: 60px;
    margin-left: 170px;
}

.menu .logo {
    width: 140px;
}

.menu .logo img {
    width: 100%;
}

.menu .option {
    display: flex;
}

.menu .option li {
    padding-left: 100px;
}

.menu .option li a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu .option li .ativo {
    border-bottom: 1px solid #ffffff;
}




.home {
    display: flex;
    margin-top: 100px;
    margin-left: 170px;
}

.home .empresas a {
    font-size: 28px;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.home .empresas a.ativo-e {
    border-bottom: 2px solid #ffffff;
}

.home .info-principal {
    padding-left: 100px;
}

.home .info-principal h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    width: 665px;

    padding-bottom: 35px;
}

.home .info-principal .apresentacao {
    padding-bottom: 30px;
}

.home .info-principal .apresentacao p {
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    width: 452px;
    padding-bottom: 5px;
}

.home .info-principal .apresentacao p span {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
}

.home .info-principal .descricao {
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
    color: #7B7B7B;
    border-top: 1px solid #ffffff;
    padding-top: 25px;
    width: 740px;
}

.home .empresas .fa-arrow-down {
    font-size: 50px;
    margin-top: 50px;
    transform: rotate(-45deg);
}




.album-1 {
    display: flex;
    margin-top: 150px;
    margin-left: 80px;
    gap: 10px;
}

.album-1 .img-lateral {
    width: 401.89px;
    height: 714px;
    border-radius: 45px;
}

.album-1 .img-agrupada {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.album-1 .img-agrupada .img {
    width: 351px;
    height: 351px;
    border-radius: 31px;
    background-position: center;
    background-repeat: no-repeat;
}

.album-1 .img-agrupada .img.flyer {
    background-image: url(../images/flyer-a4-2.png);
    background-size: 468px;
}

.album-1 .img-agrupada .img.folhas {
    background-image: url(../images/folhas-a4-1.jpg);
    background-size: 507px;
}

.album-1 .img-agrupada .img.logo-parede {
    background-image: url(../images/logo-na-parede-branca-1.jpg);
    background-size: 546px;
}

.album-1 .img-agrupada .img.business {
    background-image: url(../images/VERTICAL-BUSINESS.jpg);
    background-size: 546px;
}


.foto {
    margin-top: 20px;
    width: 1280px;
    height: 420px;
    background-repeat: no-repeat;
    background-image: url(../images/abd638a30a5336ffd9e3872790947aa5.jpg);
    background-position-y: -235px;
    background-size: 1280px;
}

.album-2 {
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
    gap: 10px;
}

.album-2 .img-left {
    width: 401.89px;
    height: 714px; 
    border-radius: 45px;
    background-image: url(../images/logo-prensado.jpg);
    background-repeat: no-repeat;
    background-position-x: -345px;
    background-size: 1129px;
}

.album-2 .img-right {
    width: 723px;
    height: 714px;
    border-radius: 31px;
    background-image: url(../images/cosmetico.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1443px;
}

.inicio {
    margin-top: 170px;
    margin-bottom: 100px;
    margin-left: 170px;
}

.inicio .anos p {
    font-size: 24px;
    font-weight: 400;
    line-height: 42.46px;
    color: #7B7B7B;
}

.inicio .anos span {
    color: #ffffff;
}

.inicio .tempo p {
    font-weight: 700;
    font-size: 171px;
    margin-bottom: -55px;
}

.inicio .tempo span {
    font-size: 50px;
    font-weight: 700;
}

.inicio .info-inicio {
    display: flex;
}

.inicio .info-inicio .texto {
    width: 504.5px;
    font-size: 21px;
    font-weight: 400;
    line-height: 32.46px;
    padding-left: 100px;
    padding-top: 60px;
}



.contato {
    display: flex;
    justify-content: center;
    background: #1F2225;
    width: 950px;
    height: 490px;
    border-radius: 40px;
    margin-left: 170px;
    margin-bottom: 100px;
}

.contato .cont-info {
    display: flex;
    padding: 53px 53px 15px 53px;
    color: #ffffff;
    flex-flow: column wrap;
}

.contato .cont-info .chamada img {
    width: 98px;
}

.contato .cont-info .chamada p{
    font-size: 62px;
    font-weight: 400;
    line-height: 40px;
    width: 530px;
    padding-top: 30px;
}

.contato .cont-info .chamada p span {
    font-family: 'DegularDemo BoldItalic';
    font-size: 62px;
    font-weight: 700;
    line-height: 90px;
} 

.contato .cont-info .elen-contato {
    display: flex;
    align-items: center;
    padding-top: 55px;
}

.contato .cont-info .elen-contato .img {
    width: 68px;
    height: 68px;
    background-image: url(../images/a15b5389756152a40b1a578d7c774e96.jpg);
    background-repeat: no-repeat;
    background-position-y: -6px;
    background-position-x: -15px;
    background-size: 85px;
    border-radius: 50%;
}

.contato .cont-info .elen-contato a {
    color: #ffffff;
    font-size: 31px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffffff;
    width: 240px;
}

.contato .cont-info span {
    font-weight: 300;
    font-size: 10px;
    padding-top: 90px;
}

.contato .cont-info .email {
    width: 292px;
    margin-top: 90px;
    margin-left: 40px;
}

.contato .cont-info .email p {
    font-size: 18px;
    font-weight: 200;
    line-height: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    width: 80px;
    margin-bottom: 10px;
}

.contato .cont-info .email a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 200;
    padding-top: 5px;
}

.contato .cont-info .botao {
    margin-top: 130px;
    margin-left: 15px;
}

.contato .cont-info .botao .fa-circle-arrow-right {
    font-size: 17px;
    align-items: center;
    transform: translateX(35px);
    cursor: pointer;
}

.contato .cont-info .botao a {
    font-size: 20px;
    padding: 14px 54px;
    border-radius: 17px;
    text-transform: uppercase;
    background: #5B917C;
    color: #ffffff;
}

.contato .cont-info .botao a:active {
    background: #ffffff;
    color: #5B917C;
}

.contato .cont-info .botao:hover {
    transform: scale(1.1);
    transition: 0.2s;
}