@font-face {
    font-family: 'DegularDemo';
    src: url(../fonts/fonnts.com-DegularDemo-Regular.otf);    
}

@font-face {
    font-family: 'DegularDemo BoldItalic';
    src: url(../fonts/fonnts.com-DegularDemo-BoldItalic.otf);
}

@font-face {
    font-family: 'DegularDemo Bold';
    src: url(../fonts/fonnts.com-DegularDemo-Bold.otf);
}

body {
    font-family: 'DegularDemo';
    color: #ffffff;
    background: #1B1B1B;
}



.menu {
    display: flex;
    margin-top: 60px;
    margin-left: 170px;
}

.menu .logo {
    width: 140px;
}

.menu .logo img {
    width: 100%;
}

.menu .option {
    display: flex;
}

.menu .option li {
    padding-left: 100px;
}

.menu .option li a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu .option li .ativo {
    border-bottom: 1px solid #ffffff;
}




.home {
    display: flex;
    margin-top: 100px;
    margin-left: 170px;
}

.home .empresas a {
    font-size: 28px;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.home .info-principal {
    padding-left: 130px;
}

.home .info-principal h1 {
    font-size: 74px;
    font-weight: 400;
    line-height: 74px;
    width: 665px;
}

.home .info-principal p {
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    width: 450px;
    padding-top: 20px;
}

.home .empresas .fa-arrow-down {
    font-size: 50px;
    margin-top: 50px;
    transform: rotate(-45deg);
}



.nossos-cases {
    padding-top: 120px;
    margin-left: 170px;
}

.nossos-cases .title-2 {
    display: inline-flex;
}

.nossos-cases .title-2 h2 {
    display: flex;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    width: 400px;
    padding-bottom: 5px;
    padding-right: 70px;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
}

.nossos-cases .title-2 .fa-arrow-circle-down {
    font-size: 38px;
    height: 38px;
    color: #305973;
    background: #ffffff;
    transform: translate(-45px, 80px);
    border-radius: 50%;
}

.case {
    display: none;
}

.case.aberto {
    display: flex;
}

.case img {
    width: 753px;
    height: 559px;
    border-radius: 30px;
}

.case .info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.case .info p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26.52px;
    margin-top: 45px;
}

.case .info h3{
    font-size: 35px;
    width: 220px;
    line-height: 40px;
    margin-top: 15px;
}

.case .info .fa-circle-arrow-right {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 40px;
    color: #305973;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 43px;
    cursor: pointer;
}

.case .info .fa-circle-arrow-right:active {
    color: #ffffff;
    background: #305973;
    border-radius: 50%;
}

.case .info .fa-circle-arrow-right:hover {
    transform: scale(1.1);
    transition: 0.2s;
}



.roda-pe {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 1031px;
    font-size: 20px;
    padding-top: 20px;
    margin-left: 170px;
}

.roda-pe p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    width: 500px;
    color: #7B7B7B;
}

.roda-pe span { 
    font-size: 18px;
    font-weight: 300;
    width: 345px;
    line-height: 31.82px;
    color: #7B7B7B;
}



.metodologia {
    margin-left: 170px;
}

.metodologia h4 {
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
    font-size: 28px;
    font-weight: 400;
    line-height: 37.74px;
    width: 382px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.metodologia .info-metod {
    padding-top: 10px;
}

.metodologia .itens .title {
    display: inline-flex;
}

.metodologia .itens .title h3 {
    display: flex;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    width: 631px;
    font-size: 37px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-right: 120px;
    padding-bottom: 4px;
}

.metodologia .title .fa-circle-arrow-down {
    color: #5B917C;
    background: #ffffff;
    border-radius: 50%;
    font-size: 34px;
    height: 34px;
    transform: translate(-43px, 40px);
}

.metodologia .itens p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.43px;
    width: 780px;
}



.foto {
    margin-top: 150px;
    width: 1280px;
    height: 420px;
    background-repeat: no-repeat;
    background-image: url(../images/9307bccdf5d3969e95bb5c23f3a2dda3.jpg);
    background-position-y: -90px;
    background-size: 1280px;
}



.inicio {
    margin-top: 170px;
    margin-bottom: 100px;
    margin-left: 170px;
}

.inicio .anos p {
    font-size: 24px;
    font-weight: 400;
    line-height: 42.46px;
    color: #7B7B7B;
}

.inicio .anos span {
    color: #ffffff;
}

.inicio .tempo p {
    font-weight: 700;
    font-size: 171px;
    margin-bottom: -55px;
}

.inicio .tempo span {
    font-size: 50px;
    font-weight: 700;
}

.inicio .info-inicio {
    display: flex;
}

.inicio .info-inicio .texto {
    width: 504.5px;
    font-size: 21px;
    font-weight: 400;
    line-height: 32.46px;
    padding-left: 100px;
    padding-top: 60px;
}



.contato {
    display: flex;
    justify-content: center;
    background: #1F2225;
    width: 950px;
    height: 490px;
    border-radius: 40px;
    margin-left: 170px;
    margin-bottom: 100px;
}

.contato .cont-info {
    display: flex;
    padding: 53px 53px 15px 53px;
    color: #ffffff;
    flex-flow: column wrap;
}

.contato .cont-info .chamada img {
    width: 98px;
}

.contato .cont-info .chamada p{
    font-size: 62px;
    font-weight: 400;
    line-height: 40px;
    width: 530px;
    padding-top: 30px;
}

.contato .cont-info .chamada p span {
    font-family: 'DegularDemo BoldItalic';
    font-size: 62px;
    font-weight: 700;
    line-height: 90px;
} 

.contato .cont-info .elen-contato {
    display: flex;
    align-items: center;
    padding-top: 55px;
}

.contato .cont-info .elen-contato .img {
    width: 68px;
    height: 68px;
    background-image: url(../images/a15b5389756152a40b1a578d7c774e96.jpg);
    background-repeat: no-repeat;
    background-position-y: -6px;
    background-position-x: -15px;
    background-size: 85px;
    border-radius: 50%;
}

.contato .cont-info .elen-contato a {
    color: #ffffff;
    font-size: 31px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffffff;
    width: 240px;
}

.contato .cont-info span {
    font-weight: 300;
    font-size: 10px;
    padding-top: 90px;
}

.contato .cont-info .email {
    width: 292px;
    margin-top: 90px;
    margin-left: 40px;
}

.contato .cont-info .email p {
    font-size: 18px;
    font-weight: 200;
    line-height: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    width: 80px;
    margin-bottom: 10px;
}

.contato .cont-info .email a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 200;
    padding-top: 5px;
}

.contato .cont-info .botao {
    margin-top: 130px;
    margin-left: 15px;
}

.contato .cont-info .botao .fa-circle-arrow-right {
    font-size: 17px;
    align-items: center;
    transform: translateX(35px);
    cursor: pointer;
}

.contato .cont-info .botao a {
    font-size: 20px;
    padding: 14px 54px;
    border-radius: 17px;
    text-transform: uppercase;
    background: #5B917C;
    color: #ffffff;
}

.contato .cont-info .botao a:active {
    background: #ffffff;
    color: #5B917C;
}

.contato .cont-info .botao:hover {
    transform: scale(1.1);
    transition: 0.2s;
}